.index_header {
	margin: * 0;
	width: 100%;
	height: 50px;
	background-color: #003366;
	line-height: 50px;
	text-align: center;
}

.index_header_span {
	font-weight: bold;
	font-size: larger;
	color: #ffffff;
	letter-spacing: 4px;
}



.mt_room_card {
	/* display: none; */
	width: 100%;
	height: 120px;
	border: #FFFFFF solid 5px;
	background-color: #3399CC;
}

.mt_room_left {
	float: left;
	width: 80%;
	height: 120px;
	border-right: #FFFFFF solid 1px;
}

.mt_room_top {
	width: 100%;
	height: 40px;
	border-bottom: #FFFFFF solid 1px;
	line-height: 40px;
	text-align: left;
	font-weight: bold;
	color: #ffffff;
	letter-spacing: 4px;
	padding-left: 10px;
}

.mt_room_bottom {
	width: 100%;
	height: 70px;
	line-height: 70px;
	text-align: left;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.mt_room_bottom p {
	line-height: 15px;
	color: #ffffff;
}

.mt_room_right {
	float: right;
	background-color: #99CCCC;
	height: 110px;
	width: 20%;
	text-align: center;
	line-height: 55px;
	color: #ffffff;

}

.date_div {
	width: 100%;
	height: 40px;
	border-bottom: #99CCCC solid 1px;
}

.date_display {
	float: left;
	width: calc(100% - 256px);
	height: 40px;
	line-height: 40px;
	text-align: center;
	background-color: #99CCCC;
	/* border-right: #808080 solid 1px; */

}

.weekday_div {
	width: 32px;
	height: 32px;
	float: left;
	line-height: 32px;
	text-align: center;
	margin-left: 4px;
	margin-top: 4px;
	margin-bottom: 2px;
	border: #99CCCC solid 1px;
}

.weekday_div_weekend {
	border: indianred solid 1px;
}

.weekday_div_checked {
	background-color: #99CCCC;
	border: #99CCCC solid 1px;
}
