.div_content {
	position: absolute;
	top: 54px;
	bottom: 0px;
	background-color: #E9E9E9;
	width: 100%;
	overflow-y: auto;
}
.div_input {
	margin:16px;
}
.ta_publish_news {
	width: 100%;
	padding: 2px;
	line-height: 16px;
	resize:none;
}
.div_title_right_btn {
	visibility: hidden;
}
